@page "/contacts/edit/{id:int}"
@inject AdminService adminService
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Edit Contact</PageTitle>

<h1>Edit Contact</h1>
<hr />

@if (errorMessage != null && errorMessage != "")
{
<div class="alert alert-danger col-md-4" role="alert">
    @errorMessage
</div>    
}

@if (contact == null) {
<p>Contact with ID == @Id not found</p>
} 
else 
{
<EditForm Model="@contact" OnValidSubmit="HandleSubmit" class="col-md-4">

    <div class="form-group">
        <label for="FirstName">First Name</label>
        <InputText id="FirstName" class="form-control" @bind-Value="contact.FirstName" required/>
    </div>

    <div class="form-group">
        <label for="LastName">Last Name</label>
        <InputText id="LastName" class="form-control" @bind-Value="contact.LastName" required/>
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <InputText id="Email" class="form-control" @bind-Value="contact.Email" required/>
    </div>
    
    <div class="form-group">
        <label for="Street">Street</label>
        <InputText id="Street" class="form-control" @bind-Value="contact.Street" required/>
    </div>

    <div class="form-group">
        <label for="City">City</label>
        <InputText id="City" class="form-control" @bind-Value="contact.City" required/>
    </div>

    <div class="form-group">
        <label for="PostalCode">Postal Code</label>
        <InputText id="PostalCode" class="form-control" @bind-Value="contact.PostalCode" required/>
    </div>

    <div class="form-group">
        <label for="Country">Country</label>
        <InputText id="Country" class="form-control" @bind-Value="contact.Country" required/>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" @onclick="HandleCancel">Cancel</button>

    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>
}

<div class="text-danger mt-2">@errorMessage</div>

@code {
    [Parameter]
    public int Id { get; set; }
    private Contact? contact = new Contact();

    private string? errorMessage = "";

    protected override async Task OnInitializedAsync()
    {
        try {
            contact = await adminService.GetContactByIdAsync(Id);
            if (contact == null) {
                throw new Exception($"Contact with Id {Id} not found");
            }
        } catch (Exception ex) {
            errorMessage = ex.Message;
        }
    }

    private async Task HandleSubmit()
    {
        try {
            await adminService.UpdateContactAsync(contact!);
            navigationManager.NavigateTo("/contacts");
        } catch (Exception ex) {
            errorMessage = ex.Message;
        }
    }

    private void HandleCancel()
    {
        navigationManager.NavigateTo("/contacts", true);
    }
}