@page "/categories/edit/{id:int}"
@inject AdminService adminService
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Edit Transaction Type</PageTitle>

<h1>Edit Transaction Type</h1>
<hr />

@if (errorMessage != null && errorMessage != "")
{
<div class="alert alert-danger col-md-4" role="alert">
    @errorMessage
</div>    
}

@if (category == null) {
<p>Transaction Type with ID == @Id not found</p>
} 
else 
{
<EditForm Model="@category" OnValidSubmit="HandleSubmit" class="col-md-4">

    <div class="form-group">
        <label for="Name">Category Name</label>
        <InputText id="Name" class="form-control" @bind-Value="category.Name" required/>
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <InputText id="Description" class="form-control" @bind-Value="category.Description" required/>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" @onclick="HandleCancel">Cancel</button>

    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>
}

<div class="text-danger mt-2">@errorMessage</div>

@code {
    [Parameter]
    public int Id { get; set; }
    private TransactionType? category = new TransactionType();

    private string? errorMessage = "";

    protected override async Task OnInitializedAsync()
    {
        try {
            category = await adminService.GetTransactionTypeByIdAsync(Id);
            if (category == null) {
                throw new Exception($"Payment method with Id {Id} not found");
            }
        } catch (Exception ex) {
            errorMessage = ex.Message;
        }
    }

    private async Task HandleSubmit()
    {
        try {
            await adminService.UpdateTransactionTypeAsync(category!);
            navigationManager.NavigateTo("/categories");
        } catch (Exception ex) {
            errorMessage = ex.Message;
        }
    }

    private void HandleCancel()
    {
        navigationManager.NavigateTo("/categories", true);
    }
}